<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="node_modules/uikit/dist/css/uikit.min.css"/>
    <link rel="stylesheet" href="static/css/style.css"/>

    <script src="node_modules/uikit/dist/js/uikit.min.js"></script>
    <script src="node_modules/uikit/dist/js/uikit-icons.min.js"></script>

    <head>
        <link rel="shortcut icon" type="image/x-icon" href="static/img/neural_network.png"/>
    </head>

    <meta charset="UTF-8">
    <title>Neural network</title>
</head>
<body class="uk-width-1-1">
<div id="app"></div>
<script type="text/javascript" src="../static/js/dist/index.min.js"></script>
</body>
</html>